body {
    margin : 0vw 1vw;
}

.btn {
    margin: 0.5vw;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

#inputName {
    width: 100%;
}

.card {
    align-items: center;
    text-align: center;
    width: 100%
}

.card-header {
    width: 100%;
}

#searchBtn {
    color: cornsilk;
    background-color: dodgerblue;
    width: 90%;
}

#clearBtn {
    color: black;
    background-color: crimson;
    width: 90%;
}

.historyBtn {
    color:blanchedalmond;
    background-color: dimgray;
    width: 100%;
}

#forecast-title {
    margin: 4vw 0vw 0vw 0vw;
}

.forecast-card {
    margin: 0.5vw;
    padding: 1vw;
    background-color: cornflowerblue;
    display: inline-block;
    width: 15vw;
}

#UVI {
    padding: 0vw 2vw;
    color: black;
}

.todayWeather {
    border: black;
    border-style: solid;
    border-width: 0.5vw;
    padding: 1vw;
}